<div id="panel">
  <%= erb :_navigation %>
  <div class="siteTitle"><a href="/">The Christopher Hitchens Holiday Fun Club</a></div>
  <h1><%= @category.titleize %></h1>
  <%= erb :_social %>
</div>

<div id="countries" class="container">
  <table>
    <thead>
      <tr>
        <th>Country</th>
        <th>Score</th>
      </tr>
    </thead>
    <% @countries.each do |country| %>
    <tr>
      <td><a href="/countries/<%= country.slug %>"><%= country.name %></a></td>
      <td><%= country.normalised[@category] %></td>
    </tr>
    <% end %>
  </table>
</div>

<script type="text/javascript" src="/javascripts/jquery.tablesorter.min.js"></script> 
<script type="text/javascript">
$(document).ready(function() { 
  $("#countries table").tablesorter(); 
});
</script>
<%= erb :poster_image, :locals => { :poster_image => nil } %>
