<div id="panel">
  <%= erb :_navigation %>
  <div class="siteTitle"><a href="/">The Christopher Hitchens Holiday Fun Club</a></div>
  <h1><%= @category.titleize %></h1>
  <%= erb :_social %>
  <%= erb :_countries %>
</div>
<%= erb :poster_image, :locals => { :poster_image => @poster_image } %>
