<div id="panel">
  <div class="siteTitle"><a href="/">The Christopher Hitchens Holiday Fun Club</a></div>
  
  <h1>
    <%= @country.name %>
  </h1>
  
  <p>
    <%= @country.wikipedia.abstract %> <br/>
    <a href="<%= @country.wikipedia.url %>">Read more on Wikipedia</a>
  </p>
  
  
  <div id="tagcloud">
    <%= tag_cloud(@country.wordle_summary) %>
  </div>
</div>

<div id="photoPanel">
  <a href="<%= @country.poster_image.url %>"><%= @country.poster_image.title %></a>
</div>
<img id="posterwall" src="<%= @country.poster_image.image_url %>" style="width: 100%; left: 0px; ">
