<div id="panel">
  <div class="siteTitle"><a href="/">The Christopher Hitchens Holiday Fun Club</a></div>
  
  <h1>
    <%= @country.name %>
  </h1>
  
  <p>
    <%= @country.wikipedia.abstract %> <br/>
    <a href="<%= @country.wikipedia.url %>">Read more on Wikipedia</a>
  </p>
  
  
  <div id="tagcloud">
    <%= tag_cloud(@country.wordle_summary) %>
  </div>
</div>
<%= erb :poster_image, :locals => { :poster_image => @country.poster_image } %>
