<div id="panel">
  <div class="siteTitle">The Christopher Hitchens Holiday Fun Club</div>
  
  <h1>
    <%= @country.name %>
  </h1>
  
  <div id="tagcloud">
    <%= tag_cloud(@country) %>
  </div>
</div>

<div id="photoPanel">
  <a href="<%= @country.poster_image.url %>"><%= @country.poster_image.title %></a>
</div>
<img id="posterwall" src="<%= @country.poster_image.image_url %>" style="width: 100%; left: 0px; ">
