<div id="panel">
  <%= erb :_navigation %>
  <div class="siteTitle"><a href="/">The Christopher Hitchens Holiday Fun Club</a></div>
  <h1>
    <%= @country.name %>
  </h1>
  <p>
    <%= @country.wikipedia.abstract %> <br/>
    <a href="<%= @country.wikipedia.url %>">Read more on Wikipedia</a>
  </p>
  
  <div id="social">
    <div class="span-4">
      <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a>
      <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    </div>
    <div class="span-4">
      <iframe src="http://www.facebook.com/plugins/like.php?href&amp;layout=button_count&amp;show_faces=false&amp;width=450&amp;action=like&amp;font&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe>
    </div>
  </div>
  
  <div id="tagcloud">
    <%= tag_cloud(@country.wordle_summary) %>
  </div>
  <p><a href="<%= @country.url_advice_summary %>">See travel advice summary</a></p>
  
  <% if @country.weather %>
  <div id="weather">
    <%= @country.weather.description %>
  </div>
  <% end %>
  
  <h2>Travel site affiliate place holder</h2>
  <img src="http://placekitten.com/390/200" width="390" height="200">
  
  <% if @country.commodities %>
    <h2>You may not want to bring:</h2>
    <ul id="commodities">
      <% @country.commodities.each do |commodity| %>
        <li><a href="http://online.businesslink.gov.uk/bdotg/action/tariffFilter?export=true&key.commodityCode=<%= commodity['id'] %>"><%= commodity['name'] %></li>
      <% end %>
    </ul>
    <a href="/about/data#tariff">Find out more about this data</a>
  <% end %>
</div>

<% if @country.belgiums.any? %>
<div id="rating">
  <dl>
    <% @country.normalised.sort.each do |key,score| %>
      <dt><%= key.gsub('__', '').gsub('_', ' ').titleize %></dt>
      <dd>
        <span class="score" style="width: <%= 5*16 %>px;">
          <span class="bar" style="width: <%= @country.normalised[key].to_f*100 %>%;">&nbsp;</span><br/>
        </span>
      </dd>
    <% end %>
  </dl>
</div>
<% end %>

<div id="amazon">
  <script type="text/javascript"><!--
  amazon_ad_tag = "holfunclu-21"; amazon_ad_width = "300"; amazon_ad_height = "250"; amazon_ad_logo = "hide"; amazon_ad_include = "<%= @country.ad_keywords %>"; amazon_ad_categories = "aqbkcjl";//--></script>
  <script type="text/javascript" src="http://www.assoc-amazon.co.uk/s/ads.js"></script>
</div>

<%= erb :poster_image, :locals => { :poster_image => @country.poster_image } %>
