<div id="panel">
  <div class="siteTitle"><a href="/">The Christopher Hitchens Holiday Fun Club</a></div>
  <h1>
    <%= @country.name %>
  </h1>
  
  <p>
    <%= @country.wikipedia.abstract %> <br/>
    <a href="<%= @country.wikipedia.url %>">Read more on Wikipedia</a>
  </p>
  
  <div id="tagcloud">
    <%= tag_cloud(@country.wordle_summary) %>
  </div>
  <a href="<%= @country.url_advice_summary %>">See travel advice summary</a>
  
  <% if @country.commodities %>
    <h2>You may not want to bring:</h2>
    <ul id="commodities">
      <% @country.commodities.each do |commodity| %>
        <li><a href="http://online.businesslink.gov.uk/bdotg/action/tariffFilter?export=true&key.commodityCode=<%= commodity['id'] %>"><%= commodity['name'] %></li>
      <% end %>
    </ul>
    <a href="/about/data#tariff">Find out more about this data</a>
  <% end %>
  
  <div class="random"><a href="/countries/random">Not inspired? Try another country</a></div>
</div>

<% if @country.belgiums.any? %>
<div id="belgiums">
  <a href="/by/belgiums">
    <span class="score" style="width: <%= $belgiums_max*16 %>px;">
      <span class="bar" style="width: <%= (@country.belgiums['__average__'].to_f / $belgiums_max)*100 %>%;">&nbsp;</span><br/>
    </span><br/>
    <%= sprintf "%.1f", @country.belgiums['__average__'].to_f %> belgiums
  </a>
  <dl>
    <% @country.belgiums.each do |key,score| %>
      <dt><%= key %></dt>
      <dd><%= score %></dd>
    <% end %>
  </dl>
</div>
<% end %>

<div id="amazon">
  <script type="text/javascript"><!--
  amazon_ad_tag = "holfunclu-21"; amazon_ad_width = "300"; amazon_ad_height = "250"; amazon_ad_logo = "hide"; amazon_ad_link_target = "new";//--></script>
  <script type="text/javascript" src="http://www.assoc-amazon.co.uk/s/ads.js"></script>
</div>

<%= erb :poster_image, :locals => { :poster_image => @country.poster_image } %>
